In [1]:
import json
import pandas as pd

In [ ]:
# Load the receipts data
# with open('jsons/receipts.json') as f:
    # receipts_data = json.load(f)

# Running this initially gives JSONDecodeError: Expecting ',' delimiter: line 2 column 1 (char 872)
# JSON might be formatted improperly

# running through JSONLint gives
# Error: Parse error on line 1:
#...acfcf6c399c274ae6"}{"_id":{"$oid":"5ff1
#----------------------^
#Expecting 'EOF', '}', ',', ']', got '{'

# ok so the issue is that there are no commas between records

In [8]:
# add commas between each json object by splitting into individual jsons and then joining with commas

# File paths
input_file_path = 'jsons/receipts.json'  # Replace with your actual file path
output_file_path = 'formatted_receipts.json'  # Output file path

# Read the original JSON file
with open(input_file_path, 'r') as file:
    data = file.read()

# Split the data into individual JSON objects
json_objects = data.splitlines()

# Remove any empty lines and join with commas
json_objects = [obj for obj in json_objects if obj.strip()]  # Filter out empty lines
formatted_json = '[' + ',\n'.join(json_objects) + ']'

# Write the formatted data to a new file
with open(output_file_path, 'w') as output_file:
    output_file.write(formatted_json)

In [9]:
# finally opening the file
with open('jsons/formatted_receipts.json') as f:
    receipts_data = json.load(f)

In [31]:
# Convert to DataFrame
receipts_df = pd.DataFrame(receipts_data)

In [32]:
display(receipts_df)
# looks like conversion to dataframe was successful
# looks like some entries are still jsons though
# thats normal though since this is being done with Python
# nested jsons are difficult to fully clean up in any language
# if we wanted to clean up all the date/oid fields, could write some regex to do it

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [13]:
# Check for missing values
missing_values = receipts_df.isnull().sum()
print("Missing Values in Receipts Data:")
print(missing_values)

Missing Values in Receipts Data:
_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

In [28]:
# Check for duplicates
# duplicate_receipts = receipts_df.duplicated()
# alright, this is giving TypeError: unhashable type: 'dict'
# this happens when there is dict in the columns
# might have to write that regex after all

In [36]:
# Edge cases? 
invalid_bonus_points = receipts_df[receipts_df['bonusPointsEarned'] < 0]['bonusPointsEarned'].sum()
print("\nInvalid Bonus Points Earned:")
print(invalid_bonus_points)

Invalid Bonus Points Earned:
0.0

In [37]:
invalid_total_spent = receipts_df[receipts_df['totalSpent'].astype(float) < 0]['totalSpent'].sum()
print("\nInvalid Spending:")
print(invalid_bonus_points)

Invalid Bonus Points Earned:
0.0

In [ ]:
# Repeating for users data

In [40]:
# Load the users data
# with open('jsons/users.json') as f:
    # users_data = json.load(f)
# looks like this one has the same issue

# add commas between each json object by splitting into individual jsons and then joining with commas

# File paths
input_file_path = 'jsons/users.json'  # Replace with your actual file path
output_file_path = 'formatted_users.json'  # Output file path

# Read the original JSON file
with open(input_file_path, 'r') as file:
    data = file.read()

# Split the data into individual JSON objects
json_objects = data.splitlines()

# Remove any empty lines and join with commas
json_objects = [obj for obj in json_objects if obj.strip()]  # Filter out empty lines
formatted_json = '[' + ',\n'.join(json_objects) + ']'

# Write the formatted data to a new file
with open(output_file_path, 'w') as output_file:
    output_file.write(formatted_json)

In [43]:
# finally opening the file
with open('jsons/formatted_users.json') as f:
    users_data = json.load(f)

In [44]:
users_df = pd.DataFrame(users_data)

In [45]:
display(users_df)
# looks like this one also has the issue with the nested json

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [46]:
# Check for missing values
missing_values = users_df.isnull().sum()
print("Missing Values in Users Data:")
print(missing_values)

In [49]:
# Check for duplicates
# duplicate_users = users_df[users_df.duplicated()]

In [ ]:
# moving onto brands